@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Orbitron:wght@400;500;700;800;900&family=Prata&family=Roboto:wght@300;400;500;900&family=Satisfy&family=Staatliches&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  position: relative;

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
